* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.price {
    width: 1192px;
    margin: 0 auto;
    border: 23px solid rgb(55, 71, 101);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    border-collapse: collapse;
}
td,
th {
    padding: 15px;
}
tr:first-child th:first-child {
    width: 310px;
}
tr:first-child th,
tr:nth-child(2) td{
    background-color: rgb(250, 250, 250);
}
tr:nth-child(3) td,
tr:nth-child(5) td,
tr:nth-child(7) td{
    background-color: rgb(242, 242, 242);
    padding-top: 29px;
    padding-bottom: 27px;
}
tr:nth-child(4) td,
tr:nth-child(6) td,
tr:nth-child(8) td{
    background-color: rgb(228, 228, 228);
    padding-top: 29px;
    padding-bottom: 27px;
}
tr:last-child td:nth-child(even){
    background-color: rgb(239, 239, 239);
}
tr:last-child td:first-child {
    background-color: rgb(222, 222, 222);
}
.price-standart,
.price-cost-ultimate,
.price-cost-premium,
.price-cost-standart,
td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    -webkit-box-shadow: -2px 0px 2px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 2px -2px rgba(0,0,0,0.75);
box-shadow: -1.2px 0px 2px -2px rgba(0,0,0,0.75);
}
.fas,
.far {
    color:  #848484;
    padding-right: 10px;
}
.price-choose {
    font-size: 18px;
    font-weight: 700;
    height: 156px;
    width: 310px;
}
.price-plan {
    font-size: 30px;
    font-weight: 700;
    display: block;
}
.price-standart {
    background-color: rgb(138, 196, 45) !important;
    font-size: 24px;
    font-weight: 700;
    color:  #fff;
    width: 227px;
}
.price-ultimate {
    background-color: rgb(240, 73, 85) !important;
    font-size: 30px;
    font-weight: 700;
    color:  #fff;
    width: 227px;
}
.price-premium {
    background-color: rgb(26, 129, 125)!important;
    font-size: 24px;
    font-weight: 700;
    color:  #fff;
    width: 227px;
}
.price-cost-standart,
.price-cost-ultimate,
.price-cost-premium {
    font-size: 60px;
    font-weight: 700;
}
.cost-coin {
    font-size: 24px;
    font-weight: 700;
    display: block;
    text-align: left;
}
.subsription {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.price-note {
    display: inline-block;
    width: 108px;
    line-height: 12.6px;
}
.contact {
    height: 120px;
}
.contact-ultimate {
    background-color: rgb(244, 244, 244);
}
.contact-name-link,
.contact-standart-link,
.contact-ultimate-link,
.contact-premium-link {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 57px 11px; 
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;     
}
.contact-name-link {
    background-color: #464646;
    border-bottom: 7px solid #3E3E3E;
}
.contact-name-link:hover {
    background-color: #353535;
    border-bottom: 7px solid #2F2F2F;
    
}
.contact-standart-link {
    background-color: #8AC42D;
    border-bottom: 7px solid #7AB122;
}
.contact-standart-link:hover {
    background-color: #547F0F;
    border-bottom: 7px solid #4B730B;
}
.contact-ultimate-link {
    background-color: #F04955;
    border-bottom: 7px solid #E03743;
}
.contact-ultimate-link:hover {
    background-color: #9D1822;
    border-bottom: 7px solid #93121C;
}
.contact-premium-link {
    background-color: #1A817D;
    border-bottom: 7px solid #0E7470;
}
.contact-premium-link:hover {
    background-color: #095452;
    border-bottom: 7px solid #054C49;
}